<<<<<<< HEAD
table{
    padding: 20px;
    width: 400px;
    height: 600px;
    background-color: grey;
    margin-left: 13.5cm;
}
input, button{
    height: 100%;
    width: 100%;
}
=======
table{
    padding: 20px;
    width: 400px;
    height: 600px;
    background-color: grey;
    margin-left: 13.5cm;
}
input, button{
    height: 100%;
    width: 100%;
}
>>>>>>> b177c1eefd5dbe7d9bd1f66092dd6af4d8a53bac
                